nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href="/") Volando a Casa
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon

  div.collapse.navbar-collapse#navbarSupportedContent
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href="/") Home
      if user.role == "admin"
        li.nav-item
          a.nav-link(href="/users") Usuarios

    form.form-inline.my-2.my-lg-0
      a.nav-link(href="/logout") Cerrar Sesión